* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    overflow-y: hidden;
    border-collapse: collapse;
}

.container {
    height: 100%;
    width: auto;
}
.amandala-header {
    overflow-y: hidden;
    /*overflow-x: hidden;*/
    height: 20%;
    text-align: center
}

.amandala-body {
    overflow-y: hidden;
    height: 80%;
    overflow-x: hidden;
}

img {
    float: left;
    margin-right: 45px;
    margin-left: 45px;
    width: 720px;
    height: 720px;
}

/*::-webkit-scrollbar { 
    display: none; 
}*/

h2 {
    text-align: center;
}